__pycache__/
!gradle-wrapper.jar
._*
.bundle
.cache
.coverage
.DS_Store
.DS_Store?
.env
.env.*
.envrc
.gradle
.hypothesis/
.idea/
.loadpath
.metadata
.mvn/timing.properties
.node_repl_history
.nox/
.npm
.project
.Python
.Spotlight-V100
.tox/
.Trashes
.venv/
.vscode/
.workspace
*.class
*.classpath
*.cover
*.dll
*.dylib
*.ear
*.exe
*.exe~
*.iml
*.ipr
*.iws
*.jar
*.log
*.out
*.project
*.py[cod]
*.settings/
*.so
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.test
*.tgz
*.war
**/build/
**/build/Thumbs.db.*
**/dist/Thumbs.db.*
**/nbproject/private/
**/nbproject/Thumbs.db.*
*$py.class
build/
buildNumber.properties
coverage.*
coverage.xml
coverage/
dependency-reduced-pom.xml
develop-eggs/
dist/
eggs/
ehthumbs.db
Gemfile.lock
go.work
go.work.sum
htmlcov/
lib/
lib64/
log/
logs/
nbbuild/
nbdist/
nbproject/private/
node_modules/
nosetests.xml
npm-debug.log*
out/
package-lock.json
parts/
pip-delete-this-directory.txt
pip-log.txt
poetry.lock
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
sdist/
target/
temp/
Thumbs.db
tmp/
var/
vendor/
vendor/bundle/
wheels/
yarn-debug.log*
yarn-error.log*
yarn.lock
service.yaml
